@import url(https://fonts.googleapis.com/css?family=Raleway|Alex+Brush&display=swap);
body {
  font-family: Raleway, sans-serif;
  margin: 0; }

h1 {
  font: 4rem "Alex Brush", serif; }

h2 {
  font: 2rem "Alex Brush", serif; }

header {
  height: 100vh;
  min-height: 500px;
  background-image: url(../resources/jp2/cover.jp2);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: whitesmoke;
  margin-bottom: 80px; }
  header h1.lead {
    font-size: 6rem; }
  header h2.lead {
    font-size: 3rem; }

section {
  margin-bottom: 80px; }

.text-container {
  margin-top: 20px;
  margin-bottom: 20px; }

.cropfit {
  max-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; }
  .cropfit img {
    flex-shrink: 0;
    width: 100%;
    margin: 0; }

.social-media-row a {
  margin: 8px; }
