@import url(https://fonts.googleapis.com/css?family=Raleway|Alex+Brush&display=swap);

$font-stack: Raleway, sans-serif;
$font-script: 'Alex Brush', serif;
$default-margin-bottom: 80px;

body {
    font-family: $font-stack;
    margin: 0;
}

h1 { font: 4rem $font-script; }
h2 { font: 2rem $font-script; }

header {
    height: 100vh;
    min-height: 500px;
    //background-image: url(../resources/jpg/cover.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: whitesmoke;
    margin-bottom: $default-margin-bottom;

    h1.lead { font-size: 6rem; }
    h2.lead { font-size: 3rem; }
}

section {
    margin-bottom: $default-margin-bottom;
}

.text-container {
    margin-top: 20px;
    margin-bottom: 20px
}

.cropfit {
    max-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    img {
        flex-shrink:0;
        width: 100%;
        margin: 0;
    }    
}

.social-media-row a {
    margin: 8px;
}

ul {
    padding: 0;
    li {
        list-style-type: none;
    }
}

.circle-img {
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin-bottom: 30px;

    img {
        height: 100%;
        border-radius: 50%;
    }
}